In [30]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [31]:
df = pd.read_csv("NewZealand Freshwater Original.csv")
df

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,New Zealand,NZL,"Annual freshwater withdrawals, agriculture (% ...",ER.H2O.FWAG.ZS,..,..,..,..,..,..,...,64.669923,65.468542,66.287133,66.098332,65.732480,65.587732,65.587732,65.587732,..,..
1,New Zealand,NZL,"Annual freshwater withdrawals, domestic (% of ...",ER.H2O.FWDM.ZS,..,..,..,..,..,..,...,11.454434,10.360970,9.240161,9.498667,9.999588,10.197776,10.197776,10.197776,..,..
2,New Zealand,NZL,"Annual freshwater withdrawals, industry (% of ...",ER.H2O.FWIN.ZS,..,..,..,..,..,..,...,23.875643,24.170488,24.472705,24.403001,24.267932,24.214492,24.214492,24.214492,..,..
3,New Zealand,NZL,"Annual freshwater withdrawals, total (% of int...",ER.H2O.FWTL.ZS,..,..,..,..,..,..,...,3.019878,3.019878,3.019878,3.019878,3.019878,3.019878,3.019878,3.019878,..,..
4,New Zealand,NZL,"Annual freshwater withdrawals, total (billion ...",ER.H2O.FWTL.K3,..,..,..,..,..,..,...,9.875000,9.875000,9.875000,9.875000,9.875000,9.875000,9.875000,9.875000,..,..
5,New Zealand,NZL,Level of water stress: freshwater withdrawal a...,ER.H2O.FWST.ZS,..,..,..,..,..,..,...,8.048085,8.048085,8.048085,8.048085,8.048085,8.048085,8.048085,8.048085,..,..
6,New Zealand,NZL,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,..,135140.719923958,131748.589846898,129157.121415594,126479.461592017,124410.287627454,...,72401.195616,70941.988111,69366.368978,67932.524514,66726.523283,65673.200514,64241.090723,63975.896543,..,..
7,New Zealand,NZL,"Renewable internal freshwater resources, total...",ER.H2O.INTR.K3,..,327,327,327,327,327,...,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000,..,..
8,New Zealand,NZL,"Water productivity, total (constant 2015 US$ G...",ER.GDP.FWTL.M3.KD,..,..,..,..,..,..,...,17.386647,18.035870,18.711911,19.347608,20.024676,20.497652,20.410556,21.338470,..,..
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Last Updated: 01/28/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df = df.drop(range(9,14))
df

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,New Zealand,NZL,"Annual freshwater withdrawals, agriculture (% ...",ER.H2O.FWAG.ZS,..,..,..,..,..,..,...,64.669923,65.468542,66.287133,66.098332,65.732480,65.587732,65.587732,65.587732,..,..
1,New Zealand,NZL,"Annual freshwater withdrawals, domestic (% of ...",ER.H2O.FWDM.ZS,..,..,..,..,..,..,...,11.454434,10.360970,9.240161,9.498667,9.999588,10.197776,10.197776,10.197776,..,..
2,New Zealand,NZL,"Annual freshwater withdrawals, industry (% of ...",ER.H2O.FWIN.ZS,..,..,..,..,..,..,...,23.875643,24.170488,24.472705,24.403001,24.267932,24.214492,24.214492,24.214492,..,..
3,New Zealand,NZL,"Annual freshwater withdrawals, total (% of int...",ER.H2O.FWTL.ZS,..,..,..,..,..,..,...,3.019878,3.019878,3.019878,3.019878,3.019878,3.019878,3.019878,3.019878,..,..
4,New Zealand,NZL,"Annual freshwater withdrawals, total (billion ...",ER.H2O.FWTL.K3,..,..,..,..,..,..,...,9.875000,9.875000,9.875000,9.875000,9.875000,9.875000,9.875000,9.875000,..,..
5,New Zealand,NZL,Level of water stress: freshwater withdrawal a...,ER.H2O.FWST.ZS,..,..,..,..,..,..,...,8.048085,8.048085,8.048085,8.048085,8.048085,8.048085,8.048085,8.048085,..,..
6,New Zealand,NZL,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,..,135140.719923958,131748.589846898,129157.121415594,126479.461592017,124410.287627454,...,72401.195616,70941.988111,69366.368978,67932.524514,66726.523283,65673.200514,64241.090723,63975.896543,..,..
7,New Zealand,NZL,"Renewable internal freshwater resources, total...",ER.H2O.INTR.K3,..,327,327,327,327,327,...,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000,..,..
8,New Zealand,NZL,"Water productivity, total (constant 2015 US$ G...",ER.GDP.FWTL.M3.KD,..,..,..,..,..,..,...,17.386647,18.035870,18.711911,19.347608,20.024676,20.497652,20.410556,21.338470,..,..

In [33]:
df = df.drop(columns=[col for col in df.columns if col.startswith(tuple(str(year) for year in range(1960, 1985)))])
df = df.drop(columns=[col for col in df.columns if col.startswith(tuple(str(year) for year in range(2022, 2024)))])
df

,Country Name,Country Code,Series Name,Series Code,1985 [YR1985],1986 [YR1986],1987 [YR1987],1988 [YR1988],1989 [YR1989],1990 [YR1990],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,New Zealand,NZL,"Annual freshwater withdrawals, agriculture (% ...",ER.H2O.FWAG.ZS,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,...,63.129743,63.890552,64.669923,65.468542,66.287133,66.098332,65.732480,65.587732,65.587732,65.587732
1,New Zealand,NZL,"Annual freshwater withdrawals, domestic (% of ...",ER.H2O.FWDM.ZS,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,...,13.563236,12.521542,11.454434,10.360970,9.240161,9.498667,9.999588,10.197776,10.197776,10.197776
2,New Zealand,NZL,"Annual freshwater withdrawals, industry (% of ...",ER.H2O.FWIN.ZS,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,23.307021,23.587906,23.875643,24.170488,24.472705,24.403001,24.267932,24.214492,24.214492,24.214492
3,New Zealand,NZL,"Annual freshwater withdrawals, total (% of int...",ER.H2O.FWTL.ZS,0.581040,0.608126,0.635212,0.662298,0.689384,0.716470,...,2.305199,2.662538,3.019878,3.019878,3.019878,3.019878,3.019878,3.019878,3.019878,3.019878
4,New Zealand,NZL,"Annual freshwater withdrawals, total (billion ...",ER.H2O.FWTL.K3,1.900000,1.988571,2.077143,2.165714,2.254286,2.342857,...,7.538000,8.706500,9.875000,9.875000,9.875000,9.875000,9.875000,9.875000,9.875000,9.875000
5,New Zealand,NZL,Level of water stress: freshwater withdrawal a...,ER.H2O.FWST.ZS,1.548492,1.620678,1.692863,1.765048,1.837234,1.909419,...,6.143439,7.095762,8.048085,8.048085,8.048085,8.048085,8.048085,8.048085,8.048085,8.048085
6,New Zealand,NZL,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,100705.244680,100730.061917,99865.624237,99591.886459,99114.936954,98204.096342,...,74181.620199,73613.831296,72401.195616,70941.988111,69366.368978,67932.524514,66726.523283,65673.200514,64241.090723,63975.896543
7,New Zealand,NZL,"Renewable internal freshwater resources, total...",ER.H2O.INTR.K3,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000,...,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000
8,New Zealand,NZL,"Water productivity, total (constant 2015 US$ G...",ER.GDP.FWTL.M3.KD,44.617699,43.783769,42.324080,40.449229,38.922690,37.508572,...,21.363173,19.006544,17.386647,18.035870,18.711911,19.347608,20.024676,20.497652,20.410556,21.338470

In [34]:
df.replace('..', pd.NA, inplace=True)
df

,Country Name,Country Code,Series Name,Series Code,1985 [YR1985],1986 [YR1986],1987 [YR1987],1988 [YR1988],1989 [YR1989],1990 [YR1990],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,New Zealand,NZL,"Annual freshwater withdrawals, agriculture (% ...",ER.H2O.FWAG.ZS,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,...,63.129743,63.890552,64.669923,65.468542,66.287133,66.098332,65.732480,65.587732,65.587732,65.587732
1,New Zealand,NZL,"Annual freshwater withdrawals, domestic (% of ...",ER.H2O.FWDM.ZS,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,...,13.563236,12.521542,11.454434,10.360970,9.240161,9.498667,9.999588,10.197776,10.197776,10.197776
2,New Zealand,NZL,"Annual freshwater withdrawals, industry (% of ...",ER.H2O.FWIN.ZS,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,23.307021,23.587906,23.875643,24.170488,24.472705,24.403001,24.267932,24.214492,24.214492,24.214492
3,New Zealand,NZL,"Annual freshwater withdrawals, total (% of int...",ER.H2O.FWTL.ZS,0.581040,0.608126,0.635212,0.662298,0.689384,0.716470,...,2.305199,2.662538,3.019878,3.019878,3.019878,3.019878,3.019878,3.019878,3.019878,3.019878
4,New Zealand,NZL,"Annual freshwater withdrawals, total (billion ...",ER.H2O.FWTL.K3,1.900000,1.988571,2.077143,2.165714,2.254286,2.342857,...,7.538000,8.706500,9.875000,9.875000,9.875000,9.875000,9.875000,9.875000,9.875000,9.875000
5,New Zealand,NZL,Level of water stress: freshwater withdrawal a...,ER.H2O.FWST.ZS,1.548492,1.620678,1.692863,1.765048,1.837234,1.909419,...,6.143439,7.095762,8.048085,8.048085,8.048085,8.048085,8.048085,8.048085,8.048085,8.048085
6,New Zealand,NZL,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,100705.244680,100730.061917,99865.624237,99591.886459,99114.936954,98204.096342,...,74181.620199,73613.831296,72401.195616,70941.988111,69366.368978,67932.524514,66726.523283,65673.200514,64241.090723,63975.896543
7,New Zealand,NZL,"Renewable internal freshwater resources, total...",ER.H2O.INTR.K3,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000,...,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000
8,New Zealand,NZL,"Water productivity, total (constant 2015 US$ G...",ER.GDP.FWTL.M3.KD,44.617699,43.783769,42.324080,40.449229,38.922690,37.508572,...,21.363173,19.006544,17.386647,18.035870,18.711911,19.347608,20.024676,20.497652,20.410556,21.338470

In [35]:
#Transform the data from wide to long format
df_long = df.melt(
    id_vars=["Series Name"],  # Keep 'Series Name' as the identifier
    var_name="Year",          # Name the year column
    value_name="Value"        # Name the value column
)

# Extract the year from the 'Year' column (e.g., "1960 [YR1960]" -> 1960)
df_long["Year"] = df_long["Year"].str.extract(r"(\d{4})")

# Drop rows with missing years
df_long = df_long.dropna(subset=["Year"])

# Convert the 'Year' column to integers
df_long["Year"] = df_long["Year"].astype(int)

df = df_long
df

                                           Series Name  Year         Value
27   Annual freshwater withdrawals, agriculture (% ...  1985          44.0
28   Annual freshwater withdrawals, domestic (% of ...  1985          46.0
29   Annual freshwater withdrawals, industry (% of ...  1985          10.0
30   Annual freshwater withdrawals, total (% of int...  1985       0.58104
31   Annual freshwater withdrawals, total (billion ...  1985           1.9
..                                                 ...   ...           ...
355  Annual freshwater withdrawals, total (billion ...  2021         9.875
356  Level of water stress: freshwater withdrawal a...  2021      8.048085
357  Renewable internal freshwater resources per ca...  2021  63975.896543
358  Renewable internal freshwater resources, total...  2021         327.0
359  Water productivity, total (constant 2015 US$ G...  2021      21.33847

[333 rows x 3 columns]

In [36]:
missing_values = df.isnull().sum()  
missing_values

Series Name    0
Year           0
Value          0
dtype: int64

In [37]:
df.to_csv("NewZealand Freshwater cleaned.csv", index=False)